In [73]:
import pandas as pd
import numpy as np
!pip install matplotlib
import matplotlib as plt
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier

import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 200)

Requirement already satisfied: matplotlib in c:\users\shann\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\shann\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\shann\anaconda3\lib\site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\shann\anaconda3\lib\site-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\shann\anaconda3\lib\site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: numpy>=1.11 in c:\users\shann\anaconda3\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: six in c:\users\shann\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: setuptools in c:\users\shann\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib) (41.4.0)

In [14]:
data = pd.read_csv('LeagueofLegends.csv')

In [15]:
data.head()
for col in data.columns: 
    print(col)
    
df = data[['bResult','rResult','blueTopChamp','blueJungleChamp','blueMiddleChamp','blueADCChamp','blueSupportChamp','redTopChamp','redJungleChamp',
         'redMiddleChamp','redADCChamp','redSupportChamp']].copy()

League
Year
Season
Type
blueTeamTag
bResult
rResult
redTeamTag
gamelength
golddiff
goldblue
bKills
bTowers
bInhibs
bDragons
bBarons
bHeralds
goldred
rKills
rTowers
rInhibs
rDragons
rBarons
rHeralds
blueTop
blueTopChamp
goldblueTop
blueJungle
blueJungleChamp
goldblueJungle
blueMiddle
blueMiddleChamp
goldblueMiddle
blueADC
blueADCChamp
goldblueADC
blueSupport
blueSupportChamp
goldblueSupport
blueBans
redTop
redTopChamp
goldredTop
redJungle
redJungleChamp
goldredJungle
redMiddle
redMiddleChamp
goldredMiddle
redADC
redADCChamp
goldredADC
redSupport
redSupportChamp
goldredSupport
redBans
Address

In [67]:
# Convert data to numeric
df.head()
bluetop,btun = pd.factorize(df['blueTopChamp'])
bluejungle,bjun = pd.factorize(df['blueJungleChamp'])
bluemid,bmun = pd.factorize(df['blueMiddleChamp'])
blueadc,baun = pd.factorize(df['blueADCChamp'])
bluesup,bsun = pd.factorize(df['blueSupportChamp'])
redtop,rtun = pd.factorize(df['redTopChamp'])
redjungle,rjun = pd.factorize(df['redJungleChamp'])
redmid,rmun = pd.factorize(df['redMiddleChamp'])
redadc,raun = pd.factorize(df['redADCChamp'])
redsup,rsun = pd.factorize(df['redSupportChamp'])
list1 = [bluetop,bluejungle,bluemid,blueadc,bluesup,redtop,redjungle,redsup,redadc,redmid]

bluetop = bluetop.tolist()
bluejungle = bluejungle.tolist()
bluemid = bluemid.tolist()
blueadc = blueadc.tolist()
bluesup = bluesup.tolist()
redtop = redtop.tolist()
redjungle = redjungle.tolist()
redmid = redmid.tolist()
redadc = redadc.tolist()
redsup = redsup.tolist()

lol_df = pd.DataFrame(np.column_stack([df['bResult'],bluetop,bluejungle,bluemid,blueadc,bluesup,redtop,redjungle,
                     redmid,redadc,redsup]), columns = ['win','bluetop','bluejungle','bluemid',
                     'blueadc','bluesup','redtop','redjungle','redmid','redadc','redsup'])

lol_df

,win,bluetop,bluejungle,bluemid,blueadc,bluesup,redtop,redjungle,redmid,redadc,redsup
0,1,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,1,1,1,1,1,1,1
2,1,2,1,1,2,2,2,2,1,1,2
3,0,0,2,2,2,3,0,3,2,2,2
4,1,1,2,3,3,0,2,4,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...
7615,0,42,2,45,3,7,28,50,61,22,28
7616,0,47,18,40,7,20,28,25,35,7,7
7617,0,42,2,17,15,0,26,12,45,5,20
7618,1,75,18,5,14,7,26,1,61,0,2
7619,0,31,9,17,14,13,78,1,45,11,7

In [81]:
lol_df.corr()
features = lol_df.iloc[:, lol_df.columns != 'win']
target = lol_df.iloc[:, lol_df.columns == 'win']
forest = ExtraTreesClassifier(n_estimators = 250, random_state = 0)

forest.fit(features,target)


print(forest.feature_importances_) #use inbuilt class feature_importances of tree based classifiers


feat_importances = pd.Series(forest.feature_importances_, index=features.columns)
print(feat_importances)

[0.1039023  0.09366267 0.10517321 0.09678258 0.10143745 0.10444196
 0.09540566 0.10707863 0.09300575 0.09910979]
bluetop      0.10
bluejungle   0.09
bluemid      0.11
blueadc      0.10
bluesup      0.10
redtop       0.10
redjungle    0.10
redmid       0.11
redadc       0.09
redsup       0.10
dtype: float64